{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block content %}

    <a href="{{ path ('account_address_add') }}" class='btn btn-info btn-sm float-right'>Ajouter une address</a>
    <h1>Mes adresses</h1>
    <a href="{{ path ('account') }}"> Retour</a>

    {% if app.user.adresses | length == 0  %}
        <p>Vous n'avez pas encode d'adresse. Pour en ajouter une, cliquez ici</p>

    {% else %}

        <div class="row">
            {% for address in app.user.adresses %}

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class="card-text">
                                {{ address.address }} <br/>
                                {{ address.zip }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <a href="{{ path ('account_address_edit', { 'id': address.id }) }}">Modifier</a> | <a href="{{ path ('account_address_delete', { 'id': address.id }) }}" >Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
