<div class="product-item">
    <a href="{{path('product', {'slug' : product.slug}) }}"><img src="/uploads/files/{{ product.picture}}" alt="{{ product.name}}" class="img-fluid"></a>
    <h4>{{ product.name}}</h4>

    <p>{{ (product.price / 100) |number_format(2,',','.') }} €</p>
</div>